### Openshift Debug and Monitoring Lab ###

Information about Your current environment:
Your GUID: {{ guid }}
OCP WEB UI access via IP: {{ master_hostname }}
Wildcard FQDN for apps: {{ apps_hostname }}

Infrastructure:                                                       
    3 x Masters/Etcd   - master[1-3].example.com                      
    3 x Infra/Gluster  - infra[1-3].example.com                       
    3 x Nodes          - node[1-3].example.com                        

To list scenarios:
    lab -l

Pre-Deployed apps:                                                    
{% for apps in app_list %}
    {{ apps }}
{% endfor %} 