[defaults]
callback_whitelist = timer, mail, profile_tasks
host_key_checking = False
retry_files_enabled = False
roles_path = roles:openshift-ansible/roles/
filter_plugins = openshift-ansible/filter_plugins/
library        = openshift-ansible/library/
validate_certs = False
remote_user = root
